body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color:white;
	text-decoration: none;
}

.headshot {
	flex: 1 0 150px;
}

.headshot img {
	max-width: 150px;
	margin-right: 10px;
	border-radius: 75px;
}

.person {
	flex: 0 0 350px;
	border: 1px solid white;
	padding: 10px; 
	margin: 5px;
	display: flex;
	align-items: center;
}

.info {
	flex: 1 0 150px;
	vertical-align: center;
}

.title {
	font-size: medium;
}

.parallax {
	display: block;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#roof {
	background-image: url('../../IMG_4518.jpg');
	position: relative;
}

#theProject {
	border-top: 2px solid white;
	background-image: url('../images/infinitarium-thanksgiving.jpg');
}

#getInvolved {
	border-top: 2px solid white;
	background-image: url('../../IMG_4676.jpg');
}

#contactUs {
	border-top: 2px solid white;
	background-image: url('../images/slides/trapp-craft.JPG');
}

#donate {
	border-top: 2px solid white;
	background-image: url('../images/slides/img2.JPG');
}

/*#logo {
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}*/

.donateBtn {
	width: 100%;
	text-align: center;
}

.about {
	display: block;
	width: 100%;
	position: relative;
	top: 200px;

	background-color: darkgray;
	padding: 40px;

	font-family: 'Helvetica Neue';
	font-size: 20px;
	color: #fff;
}

nav {
	font-family: 'The Light Font', 'Unica One';
	font-weight: lighter;
	text-transform: uppercase;
}

nav.fixed {
	width: 100%;
	display: flex;
	background-color: #fff;
	font-size: 20px;
	position: fixed;
	margin-top: 30px;
	z-index: 9999;
}

nav.fixed > a {
	flex: 1 1;
}

nav.fixed > a.fixedlogo {
	margin: 3px 0;
    background-image: url(../../30th_w/30th_w.png);
    background-position: center bottom;
    background-size: auto 115%;
    background-repeat: no-repeat;
}

nav.home {
	padding: 30px 80px 250px 80px;
	margin: 0;
	font-size: 30px;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	/*background-color: #fff;*/

	 /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0+100 */
	background: -moz-linear-gradient(top, rgba(256,265,256,.85) 40%, rgba(256,265,256,0) 100%);
    background: -webkit-linear-gradient(top, rgba(256,265,256,.85) 40%,rgba(256,265,256,0) 100%);
    background: linear-gradient(to bottom, rgba(256,265,256,.85) 40%,rgba(256,265,256,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 );

	/*background: -moz-linear-gradient(top, rgba(256,265,256,1) 40%, rgba(256,265,256,0) 100%); /* FF3.6-15 */*/
	/*background: -webkit-linear-gradient(top, rgba(256,265,256,1) 40%,rgba(256,265,256,0) 100%); /* Chrome10-25,Safari5.1-6 */*/
	/*background: linear-gradient(to bottom, rgba(256,265,256,1) 40%,rgba(256,265,256,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */*/

}

a.homelogo {
	width: 300px;
	height: 200px;
	position: relative;
	left: -37px;
	flex-shrink: 0;

	background-image: url('../../30th_w/30th_w.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#line {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: red;
	height: 100%;
	width: 2px;
}

nav > a:nth-child(-n+2) {
	order: 0;
}
nav > a:nth-child(3) {
	order: 1;
}
nav > a:nth-child(n+4) {
	order: 2;
}

nav > a {
	position: relative;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	flex: 1 1 auto;
	text-align: center;
	color: rgba(108,113,116);
}

nav > .nav:hover {
	color: #000;
	text-decoration: none;
}

nav > .nav:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: 0;
	left: 0;
	background-color: #6C7174;

	clip-path: polygon(0% 50%, 100% 100%, 100% 0);
	visibility: hidden;
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

* {
	box-sizing: border-box;
}

nav > .nav:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

h1 {font-size: 36px;margin: .67em 0;}
h2 {font-size: 30px;}

h1,h2,h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'The Light Font', 'Unica One';
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

header {
	display: flex;
	justify-content: flex-end;
}

#mission {
	color: rgba(108,113,116,80%);
	background-color: rgba(256,256,256,1);
	padding: 40px;
	width: 500px;
	text-align: right;
	font-family: 'The Light Font', 'Unica One';
	text-transform: uppercase;
	flex: 0 1 auto;
	position: absolute;
    bottom: 115px;
}